@font-face {
    font-family: 'Karmatic Arcade';
    src: url('assets/fonts/ka1.ttf');
    font-weight: initial;
    font-style: normal;
}

@font-face {
    font-family: 'Arcade Classic';
    src: url('assets/fonts/ArcadeClassic.ttf');
    font-weight: initial;
    font-style: normal;
}

@font-face {
    font-family: 'Karma Future';
    src: url('assets/fonts/KarmaFuture.ttf');
    font-weight: initial;
    font-style: normal;
}

@font-face {
    font-family: 'starmap';
    src: url('assets/fonts/starmap.ttf');
    font-weight: initial;
    font-style: normal;
}

@font-face {
    font-family: 'PixelSplitter-Bold';
    src: url('assets/fonts/PixelSplitter-Bold.ttf');
    font-weight: initial;
    font-style: normal;
}