@font-face {
    font-family: 'Karmatic Arcade';
    src: url('assets/fonts/ka1.ttf');
    font-weight: initial;
    font-style: normal;
}

@font-face {
    font-family: 'Arcade Classic';
    src: url('assets/fonts/ArcadeClassic.ttf');
    font-weight: initial;
    font-style: normal;
}