<ion-content [fullscreen]="true">
  <div id="container" [class.scroll]="allowScroll">
    <div class="bkg far" appParallax [ratio]="-0.5">

    </div>
    <div class="bkg middle" appParallax [ratio]="-0.25">

    </div>
    <div class="bkg foreground">

    </div>

    <ngx-typed-js [strings]="typeString" [cursorChar]="'_'" [typeSpeed]="40" (completed)="setAllowScroll(true)">
      <div class="typing"></div>
    </ngx-typed-js>

    <div class="character idle-r" appCharacter></div>
    <div class="shadow"></div>
  </div>
</ion-content>
