#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  height: 100%;

  overflow: hidden;
}

.scroll {
  overflow: scroll !important;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container ngx-typed-js {
  font-family: 'Arcade Classic';
  color: #ffffff;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container a {
  text-decoration: none;
}

.bkg {
  position: absolute;
  height: 100%;
  image-rendering: pixelated;
  width: 5000vw;

  &.far {
    background: url("../../assets/backgrounds/far-buildings.png") repeat center;
    background-size: contain;
  }

  &.middle {
    background: url("../../assets/backgrounds/back-buildings.png") repeat center;
    background-size: contain;
  }

  &.foreground {
    background: url("../../assets/backgrounds/foreground.png") repeat center;
    background-size: contain;
  }
}


.character {
  position: sticky;
  left: calc(50% - 5vh);
  top: 87vh;
  width: 10vh;
  height: 10vh;
  animation: moveX 3s steps(24) infinite;
  z-index: 3;
  image-rendering: pixelated;

  &.run-r {
    background-image : url("../../assets/character/character-run-r.png");
    background-size: cover;
  }

  &.idle-r {
    background-image : url("../../assets/character/character-idle-r.png");
    background-size: cover;
  }

  &.run-l {
    background-image : url("../../assets/character/character-run-l.png");
    background-size: cover;
  }

  &.idle-l {
    background-image : url("../../assets/character/character-idle-l.png");
    background-size: cover;
  }
}

.shadow {
  position: sticky;
  left: calc(50% - 5vh);
  top: 87vh;
  width: 10vh;
  height: 10vh;
  z-index: 2;
  image-rendering: pixelated;
  background-image : url("../../assets/character/shadow.png");
  background-size: cover;
}

@keyframes moveX{
  from{background-position-x:0px;}
  to{background-position-x:-240vh;}
}