#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  height: 100%;

  overflow: hidden;
}

.scroll {
  overflow: scroll !important;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container .section {
  font-family: 'PixelSplitter-Bold';
  color: #ffffff;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  @media (max-width: 1000px) {
    font-size: 16px;
  }

  &.intro {
    transform: translateY(calc(-50% - 85px));
  }

  &.coding {
    left: 2000px;
    width: 100%;

    button {
      font-size: 20px;
      background: #72ce4b;
      border: solid 2px #88e15f;
      color: #ffffff;
      padding: 5px;
    }
  }

  &.running {
    left: 4000px;
    width: 100%;

    button {
      font-size: 20px;
      background: #e86a16;
      border: solid 2px #fa8132;
      color: #ffffff;
      padding: 5px;
    }
  }

  &.cooking {
    left: 6000px;
    width: 100%;

    button {
      font-size: 20px;
      background: #ffcd00;
      border: solid 2px #ffd948;
      color: #ffffff;
      padding: 5px;
    }
  }

  &.credits {
    left: 8000px;
    width: 100%;
  }
}

.openforge {
  color: #E88212;
}

.fade-img {
  position: relative;
  margin: 0 auto;
  height: 25vw;
  width: 25vw;
  border: solid 20px;

  @media (max-width: 640px) {
    height: 60vw;
    width: 60vw;
  }

  span {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
    color: #000000;
    text-shadow: none;
    font-size: 16px;

    @media (max-width: 1000px) {
      font-size: 12px;
      bottom: -18px;
    }
  }
}

.fade-img img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fade-img img.top:hover {
  opacity:0;
}

.bkg {
  position: absolute;
  height: 100%;
  image-rendering: pixelated;
  width: 10000px;

  &.far {
    background: url("../../assets/backgrounds/far-buildings.png") repeat center;
    background-size: contain;
  }

  &.middle {
    background: url("../../assets/backgrounds/back-buildings.png") repeat center;
    background-size: contain;
  }

  &.foreground {
    background: url("../../assets/backgrounds/foreground.png") repeat center;
    background-size: contain;
  }
}

.blue {
  background: url("../../assets/buttons/blue.png") repeat center;
  background-size: contain;
  z-index: 3;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 111px), 50%);

  width: 64px;
  height: 64px;
}

.blue:focus {
  background: url("../../assets/buttons/blue_pressed.png") repeat center;
  background-size: contain;
}

.green {
  background: url("../../assets/buttons/green.png") repeat center;
  background-size: contain;
  z-index: 3;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 37px), 50%);

  width: 64px;
  height: 64px;
}

.green:focus {
  background: url("../../assets/buttons/green_pressed.png") repeat center;
  background-size: contain;
}

.red {
  background: url("../../assets/buttons/red.png") repeat center;
  background-size: contain;
  z-index: 3;
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 37px), 50%);

  width: 64px;
  height: 64px;
}

.red:focus {
  background: url("../../assets/buttons/red_pressed.png") repeat center;
  background-size: contain;
}

.yellow {
  background: url("../../assets/buttons/yellow.png") repeat center;
  background-size: contain;
  z-index: 3;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 111px), 50%);

  width: 64px;
  height: 64px;
}

.yellow:focus {
  background: url("../../assets/buttons/yellow_pressed.png") repeat center;
  background-size: contain;
}

.character {
  position: sticky;
  left: calc(50% - 10vh);
  top: 80vh;
  width: 15vh;
  height: 15vh;
  
  z-index: 3;
  image-rendering: pixelated;

  &.run-r {
    background-image : url("../../assets/character/character-run.png");
    background-size: cover;
    animation: moveXRun 0.5s steps(8) infinite;
  }

  &.idle-r {
    background-image : url("../../assets/character/character-idle.png");
    background-size: cover;
    animation: moveXIdle 2s steps(6) infinite;
  }

  &.run-l {
    background-image : url("../../assets/character/character-run.png");
    background-size: cover;
    animation: moveXRun 0.5s steps(8) infinite;
    transform: scaleX(-1);
  }

  &.idle-l {
    background-image : url("../../assets/character/character-idle.png");
    background-size: cover;
    animation: moveXIdle 2s steps(6) infinite;
    transform: scaleX(-1);
  }
}

@keyframes moveXRun {
  from{background-position-x:0px;}
  to{background-position-x:-120vh;}
}

@keyframes moveXIdle {
  from{background-position-x:0px;}
  to{background-position-x:-90vh;}
}

.shadow {
  position: sticky;
  left: calc(50% - 5vh);
  top: 87vh;
  width: 10vh;
  height: 10vh;
  z-index: 2;
  image-rendering: pixelated;
  background-image : url("../../assets/character/shadow.png");
  background-size: cover;
}

.contact {
  position: absolute;
  left: 0;
  bottom: -32px;
  height: 32px;
}

.mail {
  background: url("../../assets/buttons/mail.png") repeat center;
  background-size: contain;
  z-index: 3;
  width: 32px;
  height: 32px;
  margin: 5px;
}

.linkedin {
  background: url("../../assets/buttons/linkedin.png") repeat center;
  background-size: contain;
  z-index: 3;
  width: 32px;
  height: 32px;
  margin: 5px;
}

.github {
  background: url("../../assets/buttons/github.png") repeat center;
  background-size: contain;
  z-index: 3;
  width: 32px;
  height: 32px;
  margin: 5px;
}